###################################################
################## Config #########################

basis: 631Gss
solver_type: RHF
perturbation_order: 0
run_type: minimize # Can be single or minimize
atoms:
  - name: N
    charge: 7
    position: [0.0, 0.0, 0.0]
  - name: H
    charge: 1
    position: [1.951185807, 0.0, 0.0]
  - name: H
    charge: 1
    position: [-0.4774296726, -1.891861818, 0.0]
  - name: H
    charge: 1
    position: [-0.4774660792, 0.6128915297, 1.789822824]
n_electrons: 10
